<!DOCTYPE html>
<html>
    <head>
        <title id="title" data-title="Add Chat | Chat">Add Chat | Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alexey Lagun">
        <meta name="description" content="Yet another chat application">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/add-chat.css">
        <script src="https://kit.fontawesome.com/1fa35d6678.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href="/layout/login.html" id="logo">Chat</a>
            <nav>
                <a href="#"><i class="far fa-moon"></i></a>
                <a href="#"><i class="fas fa-plus-circle"></i></a>
                <a href="#"><i class="fas fa-user-cog"></i></a>
                <a href="#"><i class="fas fa-sign-out-alt"></i></a>
            </nav>
        </header>
        <main>
            <form class="add-chat-form" method="POST">
                <input type="text" placeholder="name" name="name" required />
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="secured" name="secured" value="secured">
                    <label for="secured">secured</label>
                </div>
                <input type="password" placeholder="password" name="password" maxlength="30" required />
                <input type="password" placeholder="confirm password" name="confirm" maxlength="30" required />
                <input type="submit" value="CREATE CHAT">
            </form>
        </main>
    </body>
</html>