<!DOCTYPE html>
<html>
    <head>
        <title id="title" data-title="Register | Chat">Register | Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alexey Lagun">
        <meta name="description" content="Yet another chat application">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/register.css">
        <script src="https://kit.fontawesome.com/1fa35d6678.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href="/layout/login.html" id="logo">Chat</a>
            <nav>
                <a href="#"><i class="far fa-moon"></i></a>
                <a href="#"><i class="fas fa-plus-circle"></i></a>
                <a href="#"><i class="fas fa-user-cog"></i></a>
                <a href="#"><i class="fas fa-sign-out-alt"></i></a>
            </nav>
        </header>
        <main>
            <form class="register-form" id="register-form" method="POST">
                <input type="text" placeholder="login" name="login" id="login" maxlength="30" required />
                <input type="password" placeholder="password" name="password" id="password" maxlength="30" required />
                <input type="password" placeholder="confirm password" name="confirm" id="confirm" maxlength="30" required />
                <input type="text" placeholder="nickname" name="nickname" id="nickname" maxlength="30" required />
                <input type="submit" id="register-btn" value="REGISTER">
                <p>
                    Registered? Just
                    <a class="register-a" href="login.html">login</a>
                </p>
            </form>
        </main>
    </body>
</html>