@import "/layout/css/styles.css";

header {    
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px 3px;
    font-size: 60px;
    color: var(--font-color);
    text-align: center;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

header > nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
}

header > nav > a {
    font-size: 35px;
    padding: 4px 8px;
    color: var(--font-color);
}