@import "/layout/css/styles.css";

.settings-form {
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 280px;
    padding: 20px;
    align-items: center;
    margin: 25vh auto;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: var(--form-bg-color);
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.settings-form input {
    font-size: 14px;
    padding: 15px;
    border: 0;
    width: 100%;
    max-width: 250px;
    background-color: var(--bg-color);
}

.settings-form input:hover {
    background-color: var(--bg-color-darker);
}

.settings-form input[type="submit"] {
    max-width: none;
    cursor: pointer;
    color: var(--font-secondary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
}

.settings-form input[type="submit"]:hover {
    background-color: var(--darker);
}

.settings-form input[type="file"] {
    cursor: pointer;

}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}