@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

:root {
    --primary-color: #172caf;
    --secondary-color: #4b5ed7;
    --lighter: #707ed7;
    --darker: #071672;
    --font-color: #000000;
    --font-color-lighter: #0000008f;
    --bg-color: #cfcfcf;
    --bg-color-darker: #bebebe;
    --bg-color-lighter: #d6d6d6;
    --form-bg-color: #fff;
    --font-secondary-color: #fff;
    --checkbox-shadow: #707ed785;
    --toggle-color: #a5a5a5;
}

body {
    overflow-x: auto;
    overflow-y: auto;
    background: var(--bg-color);
}